<div class="wrapper">
	<div class="content">
        {{{'/templates/andreylizivinskiy/components/topbar'|c({website: website})|safe}}}
        <div class="top">
            <div class="container">
                <div class="article__main-title global-title">
					Продукт
                </div>
                <div id="page" class="estate__wrap">
					<div class="estate__slider">
						<div class="column small-11 small-centered">
							<div class="slider-for">
                                <a href="{{{product.thumb}}}" data-fancybox="product" class="thumb" tabindex="-1">
                                    <img src="{{{product.thumb}}}" alt="{{{product.name}}}">
                                </a>
								 {% for thumb in product.thumbs %}
                                 <a href="{{{thumb}}}" data-fancybox="product" class="thumb" tabindex="-1">
                                    <img src="{{{thumb}}}" alt="{{{product.name}}}">
                                 </a>
								{% endfor %}
							</div>
							<div class="slider-navV">
								<div><img src="{{{product.thumb}}}" alt="{{{product.name}}}"></div>
								{% for thumb in product.thumbs %}
								<div><img src="{{{thumb}}}" alt="{{{product.name}}}"></div>
								{% endfor %}
							</div>
						</div>
					</div>
                    <div class="estate__info">
                        <div class="estate__title">
                            {{{product.name}}}
                        </div>
                        <div class="estate__description">
                            {{{product.description}}}
                        </div>
                        <!-- <div class="estate__details-wrap">
                            <div class="estate__details-item">
                                <div class="estate__details-img">
                                    <img src="/andreylizivinskiy/img/icons/area.svg" alt="">
                                </div>
                                <div class="estate__details-text">
                                    12312321312
                                </div>
                            </div>
                            <div class="estate__details-item">
                                <div class="estate__details-img">
                                    <img src="/andreylizivinskiy/img/icons/price.svg" alt="">
                                </div>
                                <div class="estate__details-text">
                                    12312321312
                                </div>
                            </div>
                        </div> -->
                        <div class="product__btn-wrap product__btn-wrap--width">
                            <div class="product__btn-text">
								{{{product.price}}}
                            </div>
							{% if website %}
                            <a href="https://{{{website}}}/order/product/{{{product.id}}}" class="product__btn-cart">
                                <img src="/andreylizivinskiy/img/icons/cart.svg" alt="">
                            </a>
							{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	{{{'/templates/andreylizivinskiy/components/footer'|c({data: store.data, footer: footer})|safe}}}
</div>
