<div class="wrapper">
	<div class="content">
        <header class="header">
            <div class="container">
                <div class="header__wrap">
                    <div class="header__logo">
                        <a href="/">
                            <img src="img/logo.svg" alt="">
                        </a>
                    </div>
                    <div class="burger-wrap">
                        <div class="burger"></div>
                    </div>
                    <ul class="header__navigation">
                        <li><a href="/articles">Новини</a></li>
                        <li><a href="/portfolios">Роботи</a></li>
                        <li><a href="/products">Продукція</a></li>
                        <li><a href="/services">Послуги</a></li>
                    </ul>
                    <a {% if store.website %}href="https://{{{store.website}}}/profile"{% endif %} class="header__user">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.9998 24C25.5139 24 29.984 18.6274 29.984 12C29.984 5.37258 25.5139 0 19.9998 0C14.4857 0 10.0156 5.37258 10.0156 12C10.0156 18.6274 14.4857 24 19.9998 24Z" fill="white"/>
                            <path d="M39.569 34.2C37.7718 30.6 34.3772 27.6 29.9842 25.8C28.7861 25.4 27.3883 25.4 26.3899 26C24.393 27.2 22.3962 27.8 20 27.8C17.6038 27.8 15.607 27.2 13.6101 26C12.6117 25.6 11.2139 25.4 10.0158 26C5.62278 27.8 2.22815 30.8 0.431001 34.4C-0.966785 37 1.22974 40 4.22499 40H35.775C38.7703 40 40.9668 37 39.569 34.2Z" fill="white"/>
                        </svg>
                    </a>
                </div>
            </div>
        </header>
        <div class="top">
            <div class="container">
                <div class="article__main-title global-title">
					Продукт
                </div>
                <div id="page" class="estate__wrap">
					<div class="estate__slider">
						<div class="column small-11 small-centered">
							<div class="slider-for">
                                <a href="{{{product.thumb}}}" data-fancybox="product" class="thumb" tabindex="-1">
                                    <img src="{{{product.thumb}}}" alt="{{{product.name}}}">
                                </a>
								 {% for thumb in product.thumbs %}
                                 <a href="{{{thumb}}}" data-fancybox="product" class="thumb" tabindex="-1">
                                    <img src="{{{thumb}}}" alt="{{{product.name}}}">
                                 </a>
								{% endfor %}
							</div>
							<div class="slider-navV">
								<div><img src="{{{product.thumb}}}" alt="{{{product.name}}}"></div>
								{% for thumb in product.thumbs %}
								<div><img src="{{{thumb}}}" alt="{{{product.name}}}"></div>
								{% endfor %}
							</div>
						</div>
					</div>
                    <div class="estate__info">
                        <div class="estate__title">
                            {{{product.name}}}
                        </div>
                        <div class="estate__description">
                            {{{product.description}}}
                        </div>
                        <!-- <div class="estate__details-wrap">
                            <div class="estate__details-item">
                                <div class="estate__details-img">
                                    <img src="img/icons/area.svg" alt="">
                                </div>
                                <div class="estate__details-text">
                                    12312321312
                                </div>
                            </div>
                            <div class="estate__details-item">
                                <div class="estate__details-img">
                                    <img src="img/icons/price.svg" alt="">
                                </div>
                                <div class="estate__details-text">
                                    12312321312
                                </div>
                            </div>
                        </div> -->
                        <div class="product__btn-wrap product__btn-wrap--width">
                            <div class="product__btn-text">
								{{{product.price}}}
                            </div>
                            <a href="https://{{{website}}}/order/product/{{{product.id}}}" class="product__btn-cart">
                                <img src="img/icons/cart.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="footer__list">
				<div class="footer__wrap footer__wrap--first">
					<a href="">
						<img src="img/logo.svg" alt="" />
					</a>
				</div>
				<div class="footer__list-wrap footer__wrap">
					<div class="footer__item">
						<a class="footer__links-title" href="/articles">Новини</a>
						<a href="/article/{{{article._id}}}" class="footer__link">{{{article.name}}}</a>
					</div>
					<div class="footer__item">
						<a class="footer__links-title" href="/portfolios">Роботи</a>
						<a href="/portfolio/{{{portfolio._id}}}" class="footer__link">{{{portfolio.name}}}</a>
					</div>
					<div class="footer__item">
						<a class="footer__links-title" href="/services">Послуги</a>
						<a href="/service/{{{service._id}}}" class="footer__link">{{{service.name}}}</a>
					</div>
					<div class="footer__item">
						<a class="footer__links-title" href="/products">Продукція</a>
						<a href="/product/{{{product._id}}}" class="footer__link">{{{product.name}}}</a>
					</div>
					<div class="footer__item">
						<a class="footer__links-title" href="/">Інформація</a>
						<a href="{{{content.url}}}" class="footer__link">{{{content.name}}}</a>
					</div>
				</div>
				<div class="footer__wrap footer__wrap--last">
					<div class="footer__wrap-socials">
						<a href="{{{data.telegram}}}" class="footer__btn btn">
							<img src="img/social/1.svg" alt="" />
						</a>
						<a href="tel:{{{data.phone}}}" class="footer__btn btn">
							<img src="img/social/2.svg" alt="" />
						</a>
					</div>
					<div class="footer__wrap-socials">
						<a href="{{{data.facebook}}}" class="footer__btn btn">
							<img src="img/social/3.svg" alt="" />
						</a>
						<a href="{{{data.instagram}}}" class="footer__btn btn">
							<img src="img/social/4.svg" alt="" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
